.side-drawer {
    background-color: #212121;
    width: auto;
    height: 100%;
    position:fixed;
    display: none;
    z-index:1;
    overflow:auto;
    padding: 10px;
}

.nav-bar {
    padding: 10px;
}
.nav-bar input[type=text] {
    color: white;
    background-color: #121212;
    float: bottom;
    padding: 10px;
    border: none;
    margin-left: 20px;
    font-size: 17px;
    display: inline;
    width: 400px;
}

.center {
    display: flex;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
}

.nav-bar-buttons {
    display:inline;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    transition-duration: 0.4s;
    height: 35px;
    width: 35px;
    margin-inline: 15px;
}
.nav-bar-buttons:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

h1, h2, h3, h4, h5, p , li {
    color: white;
}

ul li {
    padding-block: 15px;
    margin-right: 70px;
}
ul i {
    margin-inline: 20px;
}
hr {
    margin-block: 15px;
}
li {
    list-style-type: none;
}